*{
    margin: 0%;
    padding: 0%;
}
/*Menu desplegable*/
.header{
    margin: auto;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}

.nav li button{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}

.nav li a:hover{
    background-color: #e20b0b;
}
.nav > li{
    float: left;
}
.nav li ul{
     display: none;
     position: absolute; 
     min-width: 140px; 
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px; 
    top: 0px;
}

/*Fondos*/

.fondo_inicial{
   background-color: grey;
}

#primer_fondo{
    background-image: url(../Img/Fondos/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Segundo_fondo{
    background-image: url(../Img/Fondos/bosque_verde.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#tercer_fondo{
    background-image: url(../Img/Fondos/TierraAria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#cuarto_fondo{
    background-image: url(../Img/Fondos/DS1_Fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Letras*/

@font-face {
    font-family: dark;
    src: url(../Fuentes/optimusprinceps/OptimusPrinceps.ttf);
}

.Principal{
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    font-family: dark; 
}

.DS{
    font-family: dark;
}

.titulo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
  
}
.paginas_titulo{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    margin-top: 10px;
}
#Parrafo{
    margin-top: 10px;
    font-size: 2.5rem;
}
/*Especificos*/
header{
    background-color: black;
}
.Imagen{
    float: left;
}

.enemigo{
    width: 10rem;
}

.tamanio{
    width: 5rem;
}
.contenedor{
    display: flex;
    justify-content: space-around;
}
.LOGO{
    margin-top: 30px; 
  width: 30rem;  
}
.Logo{
    width: 2rem;
    background: rgba(255,255 ,255 ,255 );
}
.fondo{
    background: rgba(0, 0, 0,0.2);
    border-radius: 5px;
}

/*Inicio*/
.datos{
    margin-bottom: 200px;
}
.imagen_de_muestra{
    width: 30rem;
    float: right;
    border: rgba(0, 0, 0, 0.5) solid 5px;
}

.iguales{
    margin-left: 10px;
    border: rgba(0, 0, 0, 0.8) solid 3px;
    width: 300px;
    background-image: url(../Img/Fondos/fondito.png);
}

.titulos{
    font-size: 18px;
    color: aliceblue;
    border: rgba(0, 0, 0, 0.8) solid 3px;
}
.hd{
    color: aliceblue;
    font-family: dark;
    display: flex;
    justify-content: center;
}
.parrafito{
    font-size: 14px;
    color: aliceblue;
}

.tamanio{
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: rgba(0, 0, 0, 0.8) solid 3px;
    width: 297px;   
}

.TITULO{
    margin-top: 30px;
    width: 20rem;
}

.modificador{
    margin: 5px;
    width: 1000px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.texto{
    margin: 8px;
    color: aliceblue;
    font-size:20px ;
}

.sub_titulo{
    font-size: 25px;
    color: aliceblue;
    font-family: dark;
    margin-top: 5px;
    margin-bottom: 8px;
}

.requisitos{
    margin-left: 50px;
}

.letras{
    color: aliceblue;
    font-size:20px ;
    list-style: none;
}
/*Botones*/

#refugio_2{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

#santuario_2{
    display: none;
}

#burgo_2{
    display: none;
}

#anorlondo_2{
    display: none;
}

#inicio{
    display: block;
}


/*Prueba*/
.margen{
    color: red;
}

.hola{
    color: red;
    font-size: 40px;
}

/*Unbotonxd*/

.unboton{
    font-size: 20px;
    font-family: dark;
    background-color: rgba(0, 0, 0, 0.625);
}

.sinestilo{
    text-decoration: none;
    color: white; 
}