*{
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: dark;
    src: url(../Fuentes/optimusprinceps/OptimusPrinceps.ttf);
}

.borde{
    border: solid 3px rgba(239, 184, 16, 0.753);
}


.posicion_img{
    padding: 0px;
    width: 480px;
}

.posicion_text{
    width: 600px;
    margin-left: 550px;
    padding: 20px;
}

.fondito{
    background-color: rgba(255, 250, 255, 0.2);
    border-radius: 4px;
}

.descripcion{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.52);
    font-family: dark;
}

.posicion{
    float: left; 
    margin-left: 50px;
}

.posicion_al{
    margin: 15px;

}

.refugio{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    font-family: dark;
}

.img{
    width: 30rem;
    height: 30rem;
}

.margen{
    margin-top: 300px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.52);
    font-family: dark;
    margin-left: 50px;
}



.sub_titulo_dos{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.52);
    font-family: dark;
    margin-left: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.img_objetos{
    width: 20rem;
}

.posicion_img_dos{
    padding: 0px;
    width: 350px;
}


.disposicion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.distancia{
    margin-top: 300px;
}

.distancia_img{
    margin-top: 450px;
    position: relative;
    bottom:  400px;
    right: 100px;
}

.distancia_img_anorl{
    margin-top: 270px;
    position: relative;
    bottom:  3400px;
    right: 100px;
}


.lugar{
    display: flex;
    justify-content: center;
}

.descripcion_2{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.52);
    font-family: dark;
}


.descripcion_2_punto{
    font-size: 26px;
    color: rgba(255, 255, 255, 0.52);
    font-family: dark;
    margin: 5px;
}

.distancia_2{
    margin-top: 100px;
}

.posicionamientos{
    display: flex;
    justify-content: space-between;
}

.posicion_2{
    margin-left: 50px;
}

.distancia_3{
    margin-top: 800px;
}

.chiquito{
    width: 50px;
}

.position{
    display: flex;
    justify-content: center;
}

.descripcion_al{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.52);
    font-family: dark;
}

.anorlondo{
    margin-top: 400px;
    font-size: 40px;
    color: black;
    font-family: dark;
    margin-left: 25px;
}

.posicionar_anorlondo{
    position: relative;
    bottom:2000px ; 
}

.distancia_horno{
    margin-top: 400px;
}